#page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 520px;
  width: 100vw;
  background-color: #dd9e2b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

/* header>div>img {
  height: 155px;
} */
.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}
h2 {
 color: #FFFFFF;
 font-weight: 400;
 font-size: 1.15em;
 margin-top: 0;
}