section{
  display: flex;
}
.new-tweet {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}
/* Desktop */
@media (min-width: 1024px) {
  .new-tweet {
    margin-top: 9em;
  }
 }
form {
  width: 90%;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #545149
}
#error-too-long, #error-too-short {
  display: none;
  border: .1em solid red;
  color: red;
}
textarea {
  border: none;
  border-bottom: 4px solid #545149;
  background-color: #f4f1ec;
  width: 100%;
  margin-top: .8em;
  outline: none;
  min-height: 1.5em;
  height: auto;
  resize: none;
}
.counter-section {
  display: flex;
  justify-content: space-between;
  margin-top: .8em;
}
.button {
  background-color: #4056A1;
  color: #FFF;
  border-radius: 5%;
  border: none;
  font-family: bungee;
  font-size: .8em;
  padding: 0 1em;
}
.button:hover {
  box-shadow: 5px 5px 5px 0px #545149;
  cursor: pointer;
}
.counter {
  font-family: bungee;
}
label {
  font-family: "Source Sans Pro", sans-serif;
}